

/*----------------------------
	COLORS
----------------------------*/
$negro: #333;
$gris: #555;
$gris2: #c0c0c0;
$azul: #4181f2;
$yellow: #e4e408;
$green: #36be36;
$red: #ff0000;
$yellowbg: rgba(228, 228, 8, .5);
$greenbg: rgba(54, 190, 54, .7);
$redbg: rgba(255, 0, 0, .7);