@import 'mixins';

/*----------------------------
	RESET
----------------------------*/
* {box-sizing: border-box;}
body {font-size: 17px; font-family: 'Open sans'; margin: 0px; color: $negro;}
body.no_scroll {height: 100vh; overflow: hidden;}
ul,li,ol,li {list-style: none; padding: 0px; margin: 0px;}
a {
  outline: none; text-decoration: none; color:inherit;
  &:hover,
  &:visited,
  &:active,
  &:focus {outline: none; text-decoration: none; color:inherit;}
}
img {max-width: 100%; height: auto; display: block;}
p {display: inline-block; margin: 10px 0px; line-height: 23px; width: 100%;}


/*----------------------------
	GLOBAL
----------------------------*/
.container {width: 1200px; max-width: 100%; margin: 0 auto;}
h1 {font-size: 35px;}
h2 {font-size: 27px;}
h3 {font-size: 24px;}

#popup {
	display: none; position: fixed; width: 100%; height: 100%; height: 100vh; left: 0; top: 0;
	& > *:not(.close) {position: absolute; width: 1200px; height: 500px; max-width: 100%; padding: 60px; top: calc(50% - 250px); left: calc(50% - 600px); z-index: 0;}
	&:before {content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 100%; height: 100%; z-index: -1; background-color: $negro; opacity: .8;}
}

.message {
	display: none; text-align: center; font-size: 20px;  border-radius: 7px; padding: 10px; width: 100%;
	&.status {background-color: $greenbg; border: 1px solid $green;}
	&.warning {background-color: $yellowbg; border: 1px solid $yellow;}
	&.error {background-color: $redbg; border: 1px solid $red;}
}


/*----------------------------
	HEADER
----------------------------*/
header {
	padding: 20px 40px;
}


/*----------------------------
	CONTENT
----------------------------*/
#content {
	margin: 40px 0;
	.profile_list {
		li {display: inline-block;}
		.edit,.delete {display: inline-block; width: 25px; height: 25px; background: none transparent no-repeat center / auto 100%; cursor: pointer; margin-right: 5px;}
		.edit {background-image: url('../media/edit2.svg');}
		.delete {background-image: url('../media/delete.svg');}
		.message {margin-top: 60px;}
		.property {
			&.imagen {
				.value {text-align: center;}
				img {width: 70px; display: inline;}
			}
		}
	}

	.operations {
		margin-bottom: 30px;
		li {display: inline-block; vertical-align: middle; margin-right: 10px;}
		span {
			display: inline-block; font-size: 17px; padding: 10px 15px; border-radius: 7px; background-color: $azul; color: white; transition: .5s; cursor: pointer;
			&:hover {background-color: $gris;}
		}
	}
}


/*----------------------------
	FORM
----------------------------*/
#profile_form {
	background-color: white; padding: 60px;
	.item.file {
		label {display: inline-block; cursor: pointer;}
		.description {margin-bottom: 15px;}
	}
	.close {
		display: inline-block; width: 25px; height: 25px; cursor: pointer; background: transparent url('../media/close.svg') no-repeat center / cover; position: absolute; z-index: 1; right: 20px; top: 20px; opacity: 1; transition: .5s;
		&:hover {opacity: .7;}
	}
	label {width: 150px; display: inline-block;}
	input {
		&:not([type="file"]) {appearance: none; box-shadow: none; border: 0; border-bottom: 1px solid $negro; padding: 5px 5px 5px 10px; font-size: 17px; font-weight: 300; font-family: 'Open sans'; outline: none; margin-left: 20px; width: calc(100% - 150px - 30px);}
		&[type="file"] {
			display: none;
			& + label {display: inline-block; margin-top: 20px; font-size: 17px; padding: 10px 15px; border-radius: 7px; background-color: $azul; color: white; transition: .5s; cursor: pointer; width: auto;
				&:hover {background-color: $gris;}
			}
		}
	}
	button {
		appearance: none; border: 0; font-size: 17px; padding: 10px 15px; border-radius: 7px; background-color: $azul; color: white; transition: .5s; cursor: pointer;
		&:hover {background-color: $gris;}
	}

	.item {
		&.file {
			
			.loading {display: inline-block; width: 150px; height: 150px; background: transparent url('../media/loading.gif') no-repeat center;}

			&.loading {
				img {display: none;}
				.loading {opacity: 1;}
			}
		}
	}
}


/*----------------------------
	MEDIA QUERIES
----------------------------*/
@media screen and (min-width: 1200px) {

	/*----------------------------
		CONTENT
	----------------------------*/
	#content {

		.profile_list {
			li {
				display: flex; width: 100%; border-top: 1px solid $gris2;
				label {display: none;}
				&:nth-child(1) {
					border-top: 0;
					label {display: flex; align-items: flex-end; font-weight: bold; width: 100%; padding: 0px 10px 10px; border-bottom: 1px solid $gris; margin-bottom: 20px; height: 60px;}
				}
			}
			.property {
				flex: 1 0 calc(100% / 8); max-width: calc(100% / 8); border-right: 1px solid $gris; padding: 15px 10px;
				&.correo .value {white-space: pre-wrap; word-wrap: break-word; word-break: break-all; white-space: normal;}
				&:nth-last-child(1) {border-right: 0;}
			}
		}
	}


	/*----------------------------
		FORM
	----------------------------*/
	#profile_form {
		.wrapper {
			display: inline-block; height: 100%; width: 100%; font-size: 0;
			.col {
				font-size: 17px; display: inline-block; vertical-align: top;
				&.col1 {width: 300px; padding-top: 14px;}
				&.col2 {
					width: calc(100% - 300px); padding-left: 40px;
					.item {margin: 10px 0;}
				}
			}
		}
	}
}