


<form id="profile_form" enctype="multipart/form-data" action="">
	<div class="close"></div>
	<input type="hidden" name="id">
	<div class="wrapper">
		<div class="col col1">
			<div class="item file">
				<div class="description">Imagen de perfil</div>
				<img for="imagen" src="/src/template/media/profile.jpg" alt="Imagen de perfil">
				<input type="file" name="imagen" id="imagen">
				<label for="imagen" data-default="Escoge una imagenn">Escoge una imagen</label>
			</div>
		</div>
		<div class="col col2">
			<div class="item">
				<label for="nombre">Nombre</label>
				<input type="text" name="nombre" id="nombre">
			</div>
			<div class="item">
				<label for="apellidos">Apellidos</label>
				<input type="text" name="apellidos" id="apellidos">
			</div>
			<div class="item">
				<label for="correo">Correo electrónico</label>
				<input type="email" name="correo" id="correo">
			</div>
			<div class="item">
				<label for="cargo">Cargo</label>
				<input type="text" name="cargo" id="cargo">
			</div>
			<div class="item">
				<label for="centro">Centro</label>
				<input type="text" name="centro" id="centro">
			</div>
			<div class="item">
				<label for="salario">Salario</label>
				<input type="number" name="salario" id="salario">
			</div>
			<div class="item">
				<label for="horas">Horas semanales</label>
				<input type="number" name="horas" id="horas">
			</div>
			<div class="item">
				<button data-edittext="Editar" data-newtext="Crear">Editar</button>
			</div>
		</div>
	</div>
</form>